label {
  display: block;
  font-weight: 500;
}

nz-date-picker {
  width: 100%;
}

.button-container {
  padding-top: 15px;
}

.button-container button {
  float: right;
}

.clear {
  clear: both;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-bottom: 8px;
}

.grid-2 input[type="text"] {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  input, textarea {
    width: 100%;
  }

  .grid-2 {
    width: 100%;
  }

  .button-container {
    width: 100%;
  }

  .table-container {
    overflow-x: scroll;
  }
}
