<h2>My Software</h2>
<nz-divider></nz-divider>

<button nz-button nzType="primary" (click)="createSoftware = true">Create New</button> <br /> <br />

<nz-table #softwareTable [nzData]="[0]" class="table-container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>License Keys</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of software">
      <td style="cursor: pointer;" [routerLink]="'/software/' + data.id">{{data.name}}</td>
      <td style="cursor: pointer;" [routerLink]="'/software/' + data.id">{{data.description}}</td>
      <td style="cursor: pointer;" [routerLink]="'/software/' + data.id">{{data.licenses}}</td>
      <td>
        <a (click)="selectSoftware(data)">Create License</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="addReseller(data)">Add Reseller</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a style="color: red;" (click)="deleteSoftware(data)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="createSoftware" nzTitle="Create Software" (nzOnCancel)="createSoftware = false" (nzOnOk)="addSoftware()">
  <ng-container *nzModalContent>
    <label>Software Name</label>
    <input type="text" nz-input [(ngModel)]="newSoftware.name" /> <br />
    <label>Description</label>
    <textarea nz-input [(ngModel)]="newSoftware.description"></textarea>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="createLicense" nzTitle="Create New License Key" (nzOnCancel)="createLicense = false" (nzOnOk)="addLicense()" [nzOkLoading]="adding">
  <ng-container *nzModalContent>
    <div class="grid-2">
      <div>
        <label>Expiration Date</label> <br />
        <nz-date-picker [(ngModel)]="newLicense.expiresOn" [nzFormat]="'MM/dd/yyyy'"></nz-date-picker>
      </div>
      <div>
        <label>Email Address</label>
        <input type="text" nz-input [(ngModel)]="newLicense.email" /> 
      </div>
    </div>
    <label>Notes</label>
    <textarea nz-input [(ngModel)]="newLicense.notes"></textarea>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="addingReseller" nzTitle="Add Reseller" [nzOkText]="'Add Reseller'" (nzOnCancel)="addingReseller = false" (nzOnOk)="createReseller()" [nzOkLoading]="adding">
  <ng-container *nzModalContent>
    <div class="grid-2">
      <div>
        <label>Email Address</label>
        <input type="text" nz-input [(ngModel)]="reseller.email" /> 
      </div>
      <div>
        <label>Name</label>
        <input type="text" nz-input [(ngModel)]="reseller.name" /> 
      </div>
    </div>

    <div class="grid-2">
      <div>
        <label>Percentage</label>
        <nz-input-number [(ngModel)]="reseller.percentage" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
      </div>
      <div>
        <label>Code</label>
        <input type="text" nz-input [(ngModel)]="reseller.code" /> 
      </div>
    </div>
  </ng-container>
</nz-modal>

